@import "src/scss/index.scss";

.navbar {
  height: 73px;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 179px;

  img {
    width: 163px;
    height: 56px;
  }

  .navbar-items {
    display: flex;
    gap: 30px;

    .navbar-item {
      &.active {
        color: $primary;
        size: 16px;
        font-weight: 700;
      }

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
