@import "src/scss/index.scss";

.navbar {
  @include flex-container(row, space-between, center);
  height: 73px;
  background-color: $white;
  width: 100%;
  padding: 20px 164px 0 164px;

  img {
    width: 163px;
    height: 56px;
    cursor: pointer;
  }

  .navbar-items {
    @include flex-container(row, center, center);
    gap: 30px;

    .navbar-item {
      &.active {
        color: $primary;
        size: 16px;
        font-weight: 700;
      }

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
