@import "src/scss/index.scss";

.header {
  height: 40px;
  width: 100%;
  background-color: $neutral00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 179px;

  .user-status {
    display: flex;
    color: $white;
    gap: 24px;

    .user-status-links {
      display: flex;
      gap: 24px;
      align-items: center;

      span {
        color: $neutral05;
      }
    }
  }
}
