@import "src/scss/index.scss";

.header {
  @include flex-container(row, space-between, center);
  height: 40px;
  width: 100%;
  background-color: $neutral00;
  padding: 0 164px;

  .user-status {
    @include flex-container(row, center, center);
    color: $white;
    gap: 24px;

    .user-status-links {
      @include flex-container(row, center, center);
      gap: 24px;

      span {
        color: $neutral05;
      }

      a {
        cursor: pointer;
      }
    }
  }
}
