@import "src/scss/index.scss";

.custom-file-container {
    @include flex-container(column, flex-start, flex-start);

    .file-upload-container {
        @include flex-container(column, center, center);
        width: 548px;
        height: 300px;
        border: 1px dashed $neutral09;
        gap: 16px;
    
        .file-upload-header {
            color: $primary;
            cursor: pointer;
        }
    
        .file-upload-info {
            color: $neutral05;
        }
    }

    .uploaded-files {
        @include flex-container(column, flex-start, flex-start);
        gap: 8px;
        color: $neutral05;
    }

    .error-message { 
        color: $error;
        padding-top: 10px;
    }
}
