*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container {
    flex: 1;
    padding: 0 164px;
  }
}

a {
  all: unset;
}
