@import "src/scss/index.scss";

.product-card {
  margin: 5px;
  cursor: pointer;

  .img-container {
    width: 262px;
    height: 262px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    @include flex-container(column, space-between, flex-start);
    padding: 15px 0;
    gap: 8px;

    h5 {
      margin: 0;
      color: $neutral00;
    }

    .body-medium {
      color: $neutral05;
    }

    .body-bold {
      color: $primary;
    }
  }
}
