@import "src/scss/index.scss";

.login-form-container {
    @include flex-container(column, center, center);
    width: 738px;
    padding: 32px 0px 64px 0px;
    border: 1px solid $neutral09;

    .alert-success {
        color: $success;
    }

    .login-form {
        @include flex-container(column, center, center);
        max-width: 548px;
        gap: 32px;

        .form-inputs {
            @include flex-container(column, center, center);
            gap: 32px;
        }

        button {
            width: 100%;
            height: 56px;
        }

        .form-title {
            color: $neutral00;
            padding: 30px 0;
        }

        .input-field {
            margin-bottom: 32px;
        }

        .error-message-body {
            color: $error;
            font-size: 14px;
            margin-bottom: 32px;
        }
    }
}
