@import "src/scss/index.scss";

.price-form {
    width: 100%;
    
    .button-container {
        @include flex-container(row, space-between, center);
        width: 100%;

        .btn-navigation {
            @include flex-container(row, center, center);
            gap: 16px;
        }

        button {
            width: 130px;
        }
    }

    form {
        @include flex-container(row, center, center);
        width: 100%;
        flex-wrap: wrap;

        .input-field {
            flex-basis: 100%;
        }
        
        .input-field:has(input[type="date"]) {
            flex-basis: auto;
            width: 251px;
            position: relative;

            .error-message {
                position: absolute;
                top: 100px;
            }
        }
        
        .input-field:has(input[name="startDate"]) {
            margin-right: 23px;
        }

        .input-field:has(input[name="endDate"]) {
            margin-left: 23px;
        }
    }
}
