@import "src/scss/index.scss";

.footer {
  min-height: 356px;
  width: 100%;
  background-color: $neutral00;
  display: flex;
  justify-content: space-between;
  padding: 31px 161px 0 161px;
  margin-top: 70px;

  .footer-column {
    @include flex-container(column, flex-start, flex-start);
    gap: 24px;

    .column-heading {
      color: $white;
      opacity: 0.5;
      text-transform: uppercase;
    }

    .column-content {
      @include flex-container(column, flex-start, flex-start);
      color: $neutral09;
      gap: 12px;

      a {
        display: block;
        cursor: pointer;
      }
    }

    .social-media-icons {
      gap: 12px;
    }
  }
}
