@import "src/scss/index.scss";

.seller-tab-container {
    @include flex-container(column, center, center);
    width: 100%;
    gap: 10px;
    
    .seller-tabs {
        align-self: flex-start;
        
        .tab {
            width: 96px;
            height: 40px;
            padding: 8px 24px;
            border: 1px solid $neutral09;
            
            &.active {
                background-color: $primary;
                color: $white;
            }
        }

    }
}
