@import "src/scss/index.scss"; 

.my-account-options-container {
    width: 100%;

    .my-account-tabs {
        @include flex-container(row, space-between);
        width: 100%;
        padding-bottom: 64px;
    
        .tab-options {
            @include flex-container(row, flex-start, center);
            gap: 16px;
    
            .tab {
                @include flex-container(row, center, center);
                color: $neutral00;
                width: 134px;
                padding: 16px 24px;
                gap: 16px;
                border: 1px solid $neutral09;
    
                &.active {
                    color: $white;
                    background-color: $primary;
                    border: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    
        button {
            width: 262px;
            padding: 16px 32px;
        }
    }
}
