@import "src/scss/index.scss";

.custom-select {
    z-index: 1;
    margin: 10px 0;

    .dropdown-btn, .dropdown-item {
        @include flex-container(row, space-between, center);
        padding: 12px 24px;
    }

    .dropdown-btn {
        border: 2px solid $neutral09;
        margin-bottom: 5px;
    }

    .dropdown-item {
        border: 1px solid $neutral09;
        background-color: $white;

        &:hover {
            background-color: $neutral09;
        }
    }
    
}

.input-field-half {
    flex-basis: auto !important;
}
