@import "src/scss/index.scss";

.terms-and-conditions {
  @include flex-column;
  width: 556px;
  gap: 24px;
  margin: auto;

  .text-container {
    @include flex-column;
    gap: 24px;

    .body-semibold {
      color: $neutral00;
    }

    .body-regular {
      color: $neutral05;
    }
  }
}
