@import "src/scss/index.scss";

.product-details-container {
  @include flex-container(row, center, flex-start);
  margin: 50px 0 200px 0;
  gap: 117px;

  .product-details-images {
    width: 453px;
    height: 720px;
    text-align: center;

    .main-image-container {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 453px;
        height: 622px;
        object-fit: cover;
      }
    }

    .other-images-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 71px);
      justify-content: space-around;
      gap: 10px;

      img {
        width: 71px;
        height: 97px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }

  .product-details {
    @include flex-container(column, flex-start, flex-start);
    gap: 64px;
    width: 548px;

    .product-name {
      @include flex-container(column, flex-start, flex-start);
      gap: 16px;
      color: $neutral00;

      .price {
        color: $primary;
        font-weight: 600;
      }

      .body-regular {
        color: $neutral05;
      }
    }

    .product-bid-details {
      width: 547px;
      height: 252px;
    }

    .product-description {
      font-family: $font-family-lato;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: $neutral05;
    }

    .product-information {
      .tab {
        line-height: 24px;

        &.active {
          font-size: 16px;
          font-weight: 700;
          color: $primary;
        }

        &.inactive {
          font-size: 14px;
          color: $neutral00;
        }
      }
    }

    .product-bid-details {
      @include flex-container(column, center, center);
      font-family: $font-family-lato;
      width: 263px;
      height: 137px;
      border: 1px solid $neutral09;
      gap: 16px;

      .product-bid-details-item {
        min-width: 140px;
        
        .item-key {
          font-size: 16px;
          font-weight: 300;
          line-height: 19.2px;
        }
  
        .item-value {
          color: $primary;
          font-size: 16px;
          font-weight: 700;
          line-height: 19.2px;
          text-align: left;
        }
      }
    }

    .place-bid-form {
      width: 100%;

      form {
        @include flex-container(row, space-around, center);
        position: relative;
        
        .input-field {
          gap: 0;
  
          input {
            height: 50px;
            width: 330px;
          }
        }
        
        button {
          height: 50px;
          padding: 0 40px;
        }
      }

      .error-message { 
        position: absolute;
        top: 55px;
        padding-bottom: 0;
        width: 330px;
      }
    }
  }
}
